.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: .5rem;
    box-sizing: border-box;
}

.box img{
    max-height: 70vh;
    width: auto;
    max-width: 100%;
    object-fit: contain;
    margin: 1.5rem auto;
}

.box h1{
    margin-top: -1rem;
}

.box p{
    font-size: 1.8rem;
    margin: 2rem;
}

.description{
        width: auto;
        max-width: 40%;
}

.description p{
    font-size: 1.5rem;
    margin: 2rem;
}

.pheasant, .pangolin, .deer, .viper{
    min-height: 100vh;
    height: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.pheasant{
    background-color: #c2a3e9;
    color: #0e0572;
}

.pangolin{
    background-color: #d8a85c;
    color: #70130a;
}

.deer{
    background-color: #f4ebb3;
    color: #776824;
}

.viper{
    background-color: #8cab8f;
    color: #152218;
}

/* mobile */
@media (max-width: 768px) {
    .box p {
        font-size: 1.5rem;
        margin: 1.5rem;
    }
    
    .box img {
        max-height: 50vh;
    }

    .description p{
        font-size: 1rem;
        margin: 1.5rem;
    }
}

@media (max-width: 480px) {
    .box p {
        font-size: 1.2rem;
        min-height: 100vh;
        margin: 1.5rem 0.5rem;
    }

    .box h1 {
        margin: 1rem;
    }

    .description {
        max-width: 60%;
    }

    .description p{
        font-size: 1.5rem;
        margin: 1.5rem .5rem;
    }
    
    .pheasant, .pangolin, .deer, .viper {
        min-height: auto;
        height: auto;
        padding: 1rem 0.5rem;
    }
}