.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin: none;
}

.box img{
    height: 70vh;
    object-fit: contain;
    margin-bottom: 1.5rem;
}

.box p{
    font-size: 2rem;
    margin: 2rem;
}

.pheasant, .pangolin, .deer, .viper{
    height: 100vh;
}

.pheasant{
    background-color: #c2a3e9;
    color: #0e0572;
}

.pangolin{
    background-color: #d8a85c;
    color: #70130a;
}

.deer{
    background-color: #f4ebb3;
    color: #776824;
}

.viper{
    background-color: #8cab8f;
    color: #152218;
}