.container{
    width: 700px;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 40px 50px;
}
.container hr{
    height: 2px;
    border: none;
    background: grey;
}
button{
    display: flex;
    align-items:center;
    height: 70px;
    padding-left: 15px;
    border: 1px solid grey;
    border-radius: 8px;
    margin-bottom: 10px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(181, 181, 230);
}
.image-box{
    display: flex;
    align-self: center;
    padding-left: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}
.image-box img{
    display: block;
    height: auto;
    width: 625px;
    object-fit: contain;
}
.image-box h2{
    position: absolute;
    top: 87%;
    left: 50%;
    font-size: 22px;
    font-weight: 500;
    transform: translate(-50%, -50%);
}