.start{
    height: 100vh;
    width: 50%;
    max-width: 75vw;
    margin: 0 auto;
    color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start h1{
    font-size: 3rem;
}

.text{
    margin-bottom: 1rem;
    text-align: center;
}

.image-container{
    align-items: center;
    border-image: url("../assets/cloud.png") 35 /
  20px round;
    margin: 2rem auto;
}

.image-container img{
    display: block;
    height: auto;
    width: 35rem;
    object-fit: contain;
}