*{
  margin: 0;
  padding: 0;
  font-family: 'figtree';
}

body{
  background-image: linear-gradient(#c5cbff, #796fe6);
}

button{
    display: inline-block;
    align-items: center;
    width: 12rem;
    height: 4rem;
    background-color: rgb(62, 29, 155);
    color: white;
    border: none;
    border-radius: .6rem;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0;
    margin: 1rem 2rem;
}

button:hover{
    background-color: rgb(181, 181, 230);
}